<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.2" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" />
  <package id="Microsoft.Database.ManagedEsent" version="2.0.3" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.IO.Packaging" version="8.0.0" />
  <package id="Xbim.Common" version="6.0.445" />
  <package id="Xbim.Essentials" version="6.0.445" manuallyInstalled="true" />
  <package id="Xbim.Geometry" version="5.1.437" manuallyInstalled="true" />
  <package id="Xbim.Geometry.Engine.Interop" version="5.1.437" />
  <package id="Xbim.IO.Esent" version="6.0.445" />
  <package id="Xbim.IO.MemoryModel" version="6.0.445" />
  <package id="Xbim.IO.Table" version="6.0.172" manuallyInstalled="true" />
  <package id="Xbim.Ifc" version="6.0.445" />
  <package id="Xbim.Ifc2x3" version="6.0.445" />
  <package id="Xbim.Ifc4" version="6.0.445" />
  <package id="Xbim.Ifc4x3" version="6.0.445" />
  <package id="Xbim.ModelGeometry.Scene" version="5.1.437" />
  <package id="Xbim.Tessellator" version="6.0.445" />
</packages>